<!DOCTYPE html>
<html>
  <head>
    <title>Superrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
        html, body {
          height: 100%;
        }
        
        #wrap {
          min-height: 69%;
        }
        
        #main {
          overflow:auto;
          padding-bottom:150px; /* this needs to be bigger than footer height*/
        }
        
        .footer {
          position: relative;
          margin-bottom: -150px; /* negative value of footer height */
          height: 150px;
          clear:both;
          padding-top:20px;
        } 
    </style>
  </head>

  <body class="bg-infos">
    <%= render 'layouts/header' %>
    <div id="wrap">
      <div id="main" class="container clear-top">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
